{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charts</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/atlantis.min.css' %}" />
    <style>
        .chart-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
        }
        .chart-box {
            width: 90%;
            margin: 20px auto;
            border: 2px solid blue;
            padding: 10px;
            border-radius: 10px;
            max-width: 800px;
            height: 500px;
        }
        .card-header {
            background-color: #f7f7f7;
            border-bottom: 1px solid #e3e3e3;
            padding: 10px 15px;
        }
        .card-title {
            font-size: 24px;
            font-weight: bold;
            color: #333;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card-header">
            <div class="card-title">Charts</div>
        </div>
        <div class="chart-container">
            <!-- Pie Chart -->
            <div class="chart-box">
                <canvas id="pieChart"></canvas>
            </div>
            <!-- Line Chart -->
            <div class="chart-box">
                <canvas id="lineChart"></canvas>
            </div>
            <!-- Bar Chart -->
            <div class="chart-box">
                <canvas id="barChart"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        // Pie Chart
        fetch("{% url 'pie_chart_data' %}")
            .then((response) => response.json())
            .then((data) => {
                var severityLevels = Object.keys(data);
                var counts = Object.values(data);
                var pieChart = document.getElementById("pieChart").getContext("2d");

                new Chart(pieChart, {
                    type: "pie",
                    data: {
                        datasets: [
                            {
                                data: counts,
                                backgroundColor: ["#F6416C", "#FFDE7D", "#00B8A9"],
                                borderWidth: 0,
                            },
                        ],
                        labels: severityLevels.map(level => {
                            switch(level) {
                                case 'Minor Fire':
                                    return 'Minor Fire';
                                case 'Moderate Fire':
                                    return 'Moderate Fire';
                                case 'Major Fire':
                                    return 'Major Fire';
                                default:
                                    return level;
                            }
                        }),
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: "bottom",
                            labels: {
                                fontColor: "rgb(154, 154, 154)",
                                fontSize: 14,
                                usePointStyle: true,
                                padding: 20,
                            },
                        },
                        plugins: {
                            tooltip: {
                                callbacks: {
                                    label: function(context) {
                                        var label = context.label || '';
                                        var value = context.raw || 0;
                                        return label + ': ' + value;
                                    }
                                }
                            }
                        },
                        layout: {
                            padding: {
                                left: 20,
                                right: 20,
                                top: 20,
                                bottom: 20,
                            },
                        },
                    },
                });
            })
            .catch((error) => console.error("Error:", error));

        // Line Chart
        fetch("{% url 'line_chart_data' %}")
            .then((response) => response.json())
            .then((result_with_month_names) => {
                var months = Object.keys(result_with_month_names);
                var counts = Object.values(result_with_month_names);
                var lineChart = document.getElementById("lineChart").getContext("2d");

                new Chart(lineChart, {
                    type: "line",
                    data: {
                        labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                        datasets: [
                            {
                                label: "Number of Incidents",
                                borderColor: "#1d7af3",
                                pointBorderColor: "#FFF",
                                pointBackgroundColor: "#1d7af3",
                                pointBorderWidth: 2,
                                pointHoverRadius: 4,
                                pointHoverBorderWidth: 1,
                                pointRadius: 4,
                                backgroundColor: "transparent",
                                fill: true,
                                borderWidth: 2,
                                data: counts,
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: "bottom",
                            labels: {
                                padding: 10,
                                fontColor: "#1d7af3",
                                fontSize: 14,
                            },
                        },
                        tooltips: {
                            bodySpacing: 4,
                            mode: "nearest",
                            intersect: 0,
                            position: "nearest",
                            xPadding: 10,
                            yPadding: 10,
                            caretPadding: 10,
                        },
                        layout: {
                            padding: { left: 15, right: 15, top: 15, bottom: 15 },
                        },
                    },
                });
            })
            .catch((error) => console.error("Error:", error));

        // Bar Chart
        fetch("{% url 'bar_chart_data' %}")
            .then((response) => response.json())
            .then((data) => {
                var months = Object.keys(data);
                var counts = Object.values(data);
                var barChart = document.getElementById("barChart").getContext("2d");

                new Chart(barChart, {
                    type: "bar",
                    data: {
                        labels: months,
                        datasets: [
                            {
                                label: "Number of Incidents",
                                backgroundColor: "#1d7af3",
                                borderColor: "#1d7af3",
                                data: counts,
                                borderWidth: 1,
                            },
                        ],
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        legend: {
                            position: "bottom",
                            labels: {
                                padding: 10,
                                fontColor: "#1d7af3",
                                fontSize: 14,
                            },
                        },
                        tooltips: {
                            bodySpacing: 4,
                            mode: "nearest",
                            intersect: 0,
                            position: "nearest",
                            xPadding: 10,
                            yPadding: 10,
                            caretPadding: 10,
                        },
                        layout: {
                            padding: { left: 15, right: 15, top: 15, bottom: 15 },
                        },
                    },
                });
            })
            .catch((error) => console.error("Error:", error));
    </script>
</body>
</html>
{% endblock %}
