{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Dashboard</h4>
        <!-- Breadcrumbs code -->
    </div>

    <div class="weather-container">
        <div class="weather-forecast">
            {% for day_weather in weather_data %}
            <div class="weather-day">
                <h3>{{ day_weather.day }}</h3>
                <div class="weather-image-container">
                    {% if day_weather.description == 'Sunny' %}
                    <img src="{% static 'img/sunny.jpg' %}" alt="Sunny" class="weather-image">
                    {% elif day_weather.description == 'Cloudy' %}
                    <img src="{% static 'img/cloudy.jpg' %}" alt="Cloudy" class="weather-image">
                    {% elif day_weather.description == 'Rainy' %}
                    <img src="{% static 'img/rainy.jpg' %}" alt="Rainy" class="weather-image">
                    {% elif day_weather.description == 'Stormy' %}
                    <img src="{% static 'img/stormy.jpg' %}" alt="Stormy" class="weather-image">
                    {% endif %}
                    <div class="weather-description">{{ day_weather.description }}</div>
                </div>
                <p>Temperature: {{ day_weather.temperature }}°C</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
